* {
 padding: 0px;
 margin: 0px;
}

*,
*:before,
*:after {
 -moz-box-sizing: border-box;
 -webkit-box-sizing: border-box;
 box-sizing: border-box;
}

:focus,
:active {
 outline: none;
}

a:focus,
a:active {
 outline: none;
}

aside,
nav,
footer,
header,
section {
 display: block;
}

html,
body {
 height: 100%;
 min-width: 320px;
}
a,
button {
 cursor: pointer;
}

button::-moz-focus-inner {
 padding: 0;
 border: 0;
}

a,
a:visited {
 text-decoration: none;
}

a:hover {
 text-decoration: none;
}

ul li {
 list-style: none;
}

img {
 vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
 font-weight: inherit;
 font-size: inherit;
}

body {
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.logo {
    display: block;
    margin: 0 auto;
}

.main-logo {
    width: 170px;

}

.user-logo {
    width: 70px;
}

.user-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    padding: 10px;
    background-color: rgba(203, 108, 230, 0.35);
}

.menu-list {
    display: flex;
    flex-gap: 10px;
}

.user-icon {
    width: 30px;
    margin-right: 10px;
}

.user-info {
    display: flex;
    align-items: center;
}

.menu-item {
    flex: 1 1 auto;
    margin: 0 10px;
}

main {

}

.alert {
    width: 100%;
    padding: 15px 10px;
}

.alert-success {
    border: solid 1px #5DB36B;
    background-color: #A1DDAA;
}

.alert-danger {
    border: solid 1px #E85C5C;
    background-color: #EDA8A8;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: rgba(45, 123, 255, 0.7);
    padding: 30px 10px;
    text-align: center;
}

.github-icon {
    width: 40px;
    margin-bottom: 5px;
}