<!DOCTYPE html>
<html>
<head>
    <title>sQuizMe</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link href="static/images/favicon.png" type="image/png" rel="icon">
<!--    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">-->
</head>
<body>
    <header>
        <a href="{{ url_for('index') }}">
            <img class="main-logo" src="{{ url_for('static', filename='images/quiz_big_logo.png') }}" alt="logo">
        </a>
        <h1>Welcome to sQuizMe</h1>
        <nav>
            <ul>
<!--                <li><a href="{{ url_for('index') }}">Home</a></li>-->
                {% if current_user.is_authenticated %}
                <li><a href="{{ url_for('my_quizzes') }}">My quizzes</a></li>
                <li><a href="{{ url_for('logout') }}">Logout</a></li>
                {% endif %}
            </ul>
        </nav>
    </header>
    <main>
        {% with messages = get_flashed_messages(with_categories=true) %}
          {% if messages %}
            {% for category, message in messages %}
              <div class="alert alert-{{ category }}">
                {{ message }}
              </div>
            {% endfor %}
          {% endif %}
        {% endwith %}
        {% block content %}
        {% endblock %}
    </main>
    <footer>
        &copy; sQuizMe 2024
    </footer>
</body>
</html>