{% extends 'base.html' %}

{% block content %}
  <h2 class="create-quiz-title h3-title">Create quiz</h2>

  <form id="create-quiz-form" method="POST" action="{{ url_for('create_quiz') }}">
    {{ form.hidden_tag() }}
    <div class="form-group form-quiz-name">
      {{ form.quiz_name.label(class="form-label quiz-label") }}
      {{ form.quiz_name(class="form-control quiz-control", placeholder="Enter the name of the quiz") }}
    </div>
    <div class="form-group">
      {{ form.quiz_text.label(class="form-label quiz-label") }}
      {{ form.quiz_text(class="form-control quiz-control", rows="10", placeholder="Enter text") }}
    </div>
    <div class="form-group form-quiz-question-amount">
      {{ form.num_questions.label(class="form-label quiz-label") }}
      {{ form.num_questions(class="form-control quiz-control") }}
    </div>
    <button id="generate-btn" type="submit" class="btn btn-quiz-generate">Generate</button>
  </form>

  <div id="loading-indicator" style="display: none;">
    <div class="spinner-container">
      <div class="spinner"></div>
    </div>
    <p class="loader-text">Generating questions...</p>
  </div>
{% endblock %}

<script>
  document.addEventListener('DOMContentLoaded', function() {
    const form = document.getElementById('create-quiz-form');
    const loadingIndicator = document.getElementById('loading-indicator');
    const generateBtn = document.getElementById('generate-btn');

    form.addEventListener('submit', function() {
      loadingIndicator.style.display = 'block';
      generateBtn.disabled = true; // Disable the generate button during loading
    });
  });
</script>