{% extends 'base.html' %}

{% block content %}
  <div class="login-container">
    <h2 class="login-title">Login</h2>
    <form method="POST" action="">
      {{ form.hidden_tag() }}
      <div class="form-group">
        {{ form.email.label(class="form-label login-label") }}
        {{ form.email(class="form-control login-control") }}
      </div>
      <div class="form-group">
        {{ form.password.label(class="form-label login-label") }}
        {{ form.password(class="form-control login-control") }}
      </div>
      <button class="btn login-btn" type="submit">{{ form.submit.label }}</button>
    </form>
    <p class="register-text-link">Don't have an account? <a class="register-link" href="{{ url_for('register') }}">Create an account</a></p>
  </div>

{% endblock %}