{% extends "base.html" %}

{% block content %}
  <h3 class="h3-title">{{ quiz.name }}</h3>
  {% if current_user.is_authenticated %}
    <button><a class="btn-back" href="{{ url_for('create_quiz') }}">&#8592; Back</a></button>
  {% else %}
    <button><a class="btn-back" href="{{ url_for('community_quizzes') }}">&#8592; Back</a></button>
  {% endif %}

  <form id="quiz-form" method="post">
    {% for question in questions %}
      <h3 class="question-name">{{ loop.index }}. {{ question.question_text }}</h3>
      <ul>
        {% for answer in question.answers %}
          <li class="answer">
            <input type="radio" id="answer{{ answer.id }}" name="answer{{ question.id }}" value="{{ answer.id }}">
            <label for="answer{{ answer.id }}">{{ answer.answer_text }}</label>
          </li>
        {% endfor %}
      </ul>
    {% endfor %}
    <button class="btn finish-btn login-btn" type="submit">Finish</button>
  </form>

  {% if results %}
    {% set percentage_correct = (results.correct_count / results.total_questions) * 100 %}
    <h3 class="h3-title">Your results: <span class="count correct-results">{{ results.correct_count or 0 }}</span>/<span class="count">{{ results.total_questions or 0 }}</span></h3>
    {% if percentage_correct >= 80 %}
      <img class="score-image" src="{{ url_for('static', filename='images/great.png') }}" alt="High score image">
    {% elif percentage_correct >= 50 %}
      <img class="score-image" src="{{ url_for('static', filename='images/notbad.png') }}" alt="Medium score image">
    {% else %}
      <img class="score-image" src="{{ url_for('static', filename='images/again.png') }}" alt="Low score image">
    {% endif %}
    <p class="correct-answers-title">Questions with correct answers:</p>
    <ul>
      {% for question_result in results.question_results %}
        <li class="correct-answer">
          <strong>Question:</strong> "{{ question_result.question_text }}"
          <br>
          <strong>Correct answer:</strong> "{{ question_result.correct_answer }}"
        </li>
      {% endfor %}
    </ul>
  {% endif %}
{% endblock %}